{% extends 'dummy.html' %}


{% block title %}
    <title>forgot Password Page</title>
{% endblock %}

{% block body_block %}
    <center>
        <form method="POST">
            {% csrf_token %}

            <label for="un">username</label>
            <input type="text" name="un" id="un"> <br> <br>
            <label for="pw">password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="change_password">
        </form>
    </center>
{% endblock %}


<!-- 
<form method="post" action="{% url 'forgot_password' %}">
    {% csrf_token %}
    <label for="username_or_email">Enter Username or Email:</label>
    <input type="text" name="username_or_email" required>
    <button type="submit">Submit</button>
</form> --> 
